*{
  margin: 0px;
  padding: 0px;
}
.App{
  display: grid;
  width: 100vw;
  height: 100vh;
}
.nav-bar{
  height: 10vh;

  
  display: flex;
  justify-content:space-between;
  
  background-color:blueviolet;

}
.logo{
  display :flex;
  gap:5px;
   justify-content:flex-start
   
}
.search{
  width: 45vw;
  height: 8vh;
  border-radius: 2%;
  background-color: rgb(164, 126, 200);
  
}
.num-results{
  font-size: 20px;
  justify-content:baseline;
}
.main{
  display: flex;
  justify-content:space-around;
  background-color:black;
}
.box{
  display: flex;
  width:40vw;
  height: 100vh;
  justify-content: space-around;
 list-style: none;
 background-color: rgba(80, 76, 76, 0.977);
 padding: 3rem;
 margin: 3rem;
 border-radius: 10%;

}
.box-movie{
  display:grid
}

.btn-toggle{
 
  width:1.5rem ;
  height: 2.5rem;
  border-radius: 50%;
   background-color: rgb(160, 156, 156);
   font-size: 24px;
 
}

img{
  width: 6rem;
  height:  6rem;
}
.list{
  display:grid;
  list-style: none;
}
li{
  display:flex
}
.sum{
  display:flex;
  gap:10px;
}
